<div class="sidebar">

  <div ng-show="sidebar.mode === 'learning' || sidebar.mode === 'browsing'" class="metabox">

    <h1>{{sidebar.model.title}}</h1>

    <p ng-repeat="property in sidebar.learn">
      <strong>{{property}}: </strong>{{sidebar.model[property]}}
    </p>
  </div>

  <div ng-show="sidebar.mode === 'curation'" class="metabox">
    <form name="sidebar.form"
          sf-schema="sidebar.schema"
          sf-form="sidebar.curate".
          sf-model="sidebar.model"
          ng-submit="sidebar.submit()">
    </form>
  </div>

  <div class="toolbox">

    <button class="signIn"
            ng-hide="sidebar.user"
            ng-click="sidebar.signIn()">Sign In</button>

    <button class="back" ng-click="sidebar.back()">Back</button>
    <button class="forward" ng-click="sidebar.forward()">Forward</button>

    <label class="label-switch">
      <input type="checkbox"
             ng-model="sidebar.curation">
      <div class="checkbox"></div>
    </label>
  </div>
</div>
