<div class="sidebar">

  <div ng-show="sidebar.mode === 'learning' || sidebar.mode === 'browsing'" class="metabox">

    <h1>{{sidebar.model.title}}</h1>

    <p ng-repeat="property in sidebar.learn">
      <strong>{{property}}: </strong>{{sidebar.model[property]}}
    </p>
  </div>

  <div ng-show="sidebar.mode === 'curation'" class="metabox">
    <form name="sidebar.form"
          sf-schema="sidebar.schema"
          sf-form="sidebar.curate".
          sf-model="sidebar.model"
          ng-submit="sidebar.submit()">
    </form>
  </div>

  <div class="toolbox">

    <div ng-hide="sidebar.user">
      <button ng-click="sidebar.signIn()">Sign In</button>
    </div>

    <div ng-show="sidebar.user">
      <button ng-click="sidebar.changeMode()">
        {{sidebar.mode}}
      </button>

      <!-- <label class="label-switch"> -->
      <!--   <input type="checkbox" -->
      <!--          ng-model="sidebar.mode" -->
      <!--          ng-true-value="'curation'" -->
      <!--          ng-false-value="'learning'"/> -->
      <!--   <div class="checkbox"></div> -->
      <!-- </label> -->
    </div>
  </div>
</div>
