<div class="card">
  <div ng-show="path.isFork" class="ribbon-wrapper"><div class="ribbon">Fork</div></div>
  <div class="card-image">
    <img src="http://amaridesplays.files.wordpress.com/2013/10/coding-dojo.jpg" alt="">
  </div>
  <div ng-show="path.creating" class="card-header">
    <input ng-model="path.title"></input>
  </div>
  <div ng-hide="path.creating" class="card-header">
    {{path.title}}
  </div>
  <div class="card-copy">
    <p>{{path.description}}</p>
  </div>
  <div class="card-stats">
    <ul>
      <li>{{path.version}}<span>Version</span></li>
      <li>{{path.places.length}}<span>Places</span></li>
      <li>{{path.learners.length}}<span>Learners</span></li>
    </ul>
  </div>
  <button ng-show="path.creating" ng-click="app.save(path)">Save</button>
  <button ng-show="path.organizing" ng-click="app.remove(path)">Remove</button>
</div>
