<header class="navigation">
  <div class="navigation-wrapper">
    <!-- <a href="javascript:void(0)" class="logo" ng-click="open ? open = '' : open = 'is-visible'"> -->
    <!--   <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"> -->
    <!-- </a> -->
    <div class="nav">
      <a ng-show="mode === 'curation'"
         href="javascript:void(0)"
         class="button"
         ng-repeat="(name, action) in actions.organize"
         ng-click="action()">
         {{name}}
       </a>
      <a ng-show="mode === 'learning'"
         href="javascript:void(0)"
         class="button"
         ng-repeat="(name, action) in actions.view"
         ng-click="action()">
         {{name}} 
      </a>
    </div>
    <label class="label-switch">
      <input type="checkbox" 
             ng-model="mode"
             ng-true-value="'curation'"
             ng-false-value="'learning'"/>
      <div class="checkbox"></div>
    </label>
  </div>
</header>
