<div ui-sref="path">
<div ng-show="model.isFork" class="ribbon-wrapper"><div class="ribbon">Fork</div></div>
<div class="card-image">
  <img src="http://amaridesplays.files.wordpress.com/2013/10/coding-dojo.jpg" alt="">
</div>
<div ng-show="model.creating" class="card-header">
  <input ng-model="model.title"></input>
</div>
<div ng-hide="model.creating" class="card-header">
  {{model.title}}
</div>
<div class="card-copy">
  <p>{{model.description}}</p>
</div>
<div class="card-stats">
  <ul>
    <li>{{model.version}}<span>Version</span></li>
    <li>{{model.places.length}}<span>Places</span></li>
    <li>{{model.learners.length}}<span>Learners</span></li>
  </ul>
</div>
</div>
<button ng-show="model.creating" ng-click="paths.save(model)">Save</button>
<button ng-show="model.organizing" ng-click="remove(model)">Remove</button>
