<div class="sidebar">

  <div ng-show="mode === 'learning'" class="metabox">
    <h1>{{model.title}}</h1>
    <p><strong>Curator: </strong>{{model.curator}}</p>
    <p><strong>Summary: </strong>{{model.summary}}</p>
    <p><strong>Description: </strong>{{model.description}}</p>
    <p><strong>Version: </strong>{{model.version}}</p>
  </div>

  <div ng-show="mode === 'curation'" class="metabox">
    <h1 contenteditable="true" ng-class="{'error' : model.$errors.title}" ng-model="model.title"></h1>
    <div><span>Curator: </span><p contenteditable="true" ng-class="{'error' : model.$errors.curator}" ng-model="model.curator"></p></div>
    <div><span>Summary: </span><p contenteditable="true" ng-model="model.summary"</p></div>
    <div><span>Description: </span><p contenteditable="true" ng-model="model.description"</p></div>
    <div><span>Version: </span><p contenteditable="true" ng-class="{'error' : model.$errors.version}" ng-model="model.version"</p></div>
    <button ng-click="save()">{{buttonText}}</button>
    <button ng-click="add()">Add</button>
  </div>

  <div class="toolbox">
    <label class="label-switch">
      <input type="checkbox" 
      ng-model="mode"
      ng-true-value="'curation'"
      ng-false-value="'learning'"/>
      <div class="checkbox"></div>
    </label>
  </div>

</div>

