<div class="sidebar">

  <div ng-show="mode === 'learning'" class="metabox">
    <h1>{{model.title}}</h1>
    <p ng-repeat="property in model.displayProperties"><strong>{{property}}: </strong>{{model[property]}}</p>
  </div>

  <div ng-show="mode === 'curation'" class="metabox">
    <h1 contenteditable="true" ng-class="{'error' : model.$errors.title}" ng-model="model.title"></h1>
    <div ng-repeat="property in model.displayProperties">
      <span>{{property}}: </span>
      <p contenteditable="true" ng-class="{'error' : model.$errors[property]}" ng-model="model[property]"></p>
    </div>

    <button ng-repeat="(key, value) in actions" ng-click="actions[key]()">{{key}}</button>
  </div>

  <div class="toolbox">
    <label class="label-switch">
      <input type="checkbox" 
      ng-model="mode"
      ng-true-value="'curation'"
      ng-false-value="'learning'"/>
      <div class="checkbox"></div>
    </label>
  </div>

</div>

