<fa-app>
  <fa-header-footer-layout fa-options="{direction: 0}">
    <fa-modifier fa-size="[400, undefined]" fa-translate="[0, 0, 100]">
      <fa-surface fa-background-color="'black'">
        <sidebar mode="index.mode"
                 actions="index.actions"
                 model="index.info",
                 schema="index.schema",
                 form="index.form">
        </sidebar>
      </fa-surface>
    </fa-modifier>

    <fa-grid-layout fa-options="{dimensions: [4,2]}">
      <fa-view ng-repeat="path in index.paths">
        <fa-modifier fa-size="[420, 320]" fa-translate="[20, 20]">
          <fa-surface fa-pipe-to="index.myEventHandler">
            <card ui-sref="paths.details({pathId: path.id})" card="path"></card>
          </fa-surface>
        </fa-modifier>
      </fa-view>
    </fa-grid-layout>

  </fa-header-footer-layout>
</fa-app>
