<fa-app>
  <fa-header-footer-layout fa-options="{direction: 0}">
    <fa-modifier fa-size="[400, undefined]" fa-translate="[0, 0, 100]">
      <fa-surface fa-background-color="'black'">
        <sidebar mode="newPath.mode" actions="newPath.actions" model="newPath.info"></sidebar>
      </fa-surface>
    </fa-modifier>

  <fa-scroll-view fa-pipe-from="newPath.myEventHandler" fa-options="{direction: 0}">
    <fa-view ng-repeat="deck in newPath.decks">
      <fa-modifier fa-size="[420, 320]" fa-translate="[20, 20]">
        <fa-surface fa-pipe-to="newPath.myEventHandler">
          <section ng-repeat="card in deck">
            <card card="card"></card>
          </section>
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-scroll-view>

  </fa-header-footer-layout>
</fa-app>
