<fa-app>
  <fa-header-footer-layout fa-options="{direction: 0}">
    <fa-modifier fa-size="[400, undefined]" fa-translate="[0, 0, 100]">
      <fa-surface fa-background-color="'black'">
        <sidebar mode="pathDetails.mode" actions="pathDetails.actions" model="pathDetails.info"></sidebar>
      </fa-surface>
    </fa-modifier>

  <fa-scroll-view fa-pipe-from="pathDetails.myEventHandler" fa-options="{direction: 0}">
    <fa-view ng-repeat="point in pathDetails.points">
      <fa-modifier fa-size="[420, 320]" fa-translate="[20, 20]">
        <fa-surface fa-pipe-to="pathDetails.myEventHandler">
          <card card="point"></card>
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-scroll-view>

  </fa-header-footer-layout>
</fa-app>
