<section>
  <side-bar></side-bar>
  <!-- <nav-bar mode="curation" level="paths"></nav-bar> -->

  <nav-bar mode="pathsList.appMode" actions="pathsList.actions"></nav-bar>

  <!-- <deck type="paths" mode="curation" cards="app.cards"></deck> -->
  <!-- <card type="path" mode="curation" ng-repeat="card in cards"></card> -->

  <div class="cards">
    <card ng-repeat="path in pathsList.all" model="path"></card>
    <div ng-show="pathsList.appMode === 'curation'" class="card newCard" ng-click="pathsList.actions.view.add()"></div>
  </div>
</section>
