<section>
  <side-bar></side-bar>
  <!-- <nav-bar mode="curation" level="paths"></nav-bar> -->

  <nav-bar></nav-bar>

  <!-- <deck type="paths" mode="curation" cards="app.cards"></deck> -->
  <!-- <card type="path" mode="curation" ng-repeat="card in cards"></card> -->

  <div class="cards">

    <section class="card">
      <div ng-show="path.info.isFork" class="ribbon-wrapper"><div class="ribbon">Fork</div></div>
      <div class="card-image">
        <img src="http://amaridesplays.files.wordpress.com/2013/10/coding-dojo.jpg" alt="">
      </div>
      <div ng-show="path.info.creating" class="card-header">
        <input ng-path.info="path.info.title"></input>
      </div>
      <div ng-hide="path.info.creating" class="card-header">
        {{path.info.title}}
      </div>
      <div class="card-copy">
        <p>{{path.info.description}}</p>
      </div>
      <div class="card-stats">
        <ul>
          <li>{{path.info.version}}<span>Version</span></li>
          <li>{{path.info.places.length}}<span>Places</span></li>
          <li>{{path.info.learners.length}}<span>Learners</span></li>
        </ul>
      </div>
      <button ng-show="path.info.creating" ng-click="paths.save(path.info)">Save</button>
      <button ng-show="path.info.organizing" ng-click="paths.remove(path.info)">Remove</button>
    </section>

    <card ng-repeat="place in path.places" model="place"></card>
  </div>
</section>
