<!DOCTYPE html>
<html ng-app="example-app">
<head>
  <title>AngularJS Example</title>
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>
</head>
<body ng-controller="TestCtrl as test">
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="logo" ng-click="open ? open = '' : open = 'is-visible'">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
          <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        </ul>
      </div>
      <div class="navigation-tools">
        <div class="search-bar">
          <div class="search-and-submit">
            <input type="search" placeholder="Enter Search" />
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          </div>
        </div>
        <a href="javascript:void(0)" class="sign-up">Sign Up</a>
      </div>
    </div>
  </header>

  <div>
    <nav class="js-menu sliding-menu-content" ng-class="open">
      <ul>
        <li><a href="javascript:void(0)">Item 1</a></li>
        <li><a href="javascript:void(0)">Item 2</a></li>
        <li><a href="javascript:void(0)">Item 3</a></li>
      </ul>
    </nav>
    <div ng-show="open" class="js-menu-screen menu-screen" ng-click="open = ''"></div>

    <div class="cards">
      <div class="card" ng-repeat="item in test.collection">
        <div class="ribbon-wrapper"><div class="ribbon">RIBBON</div></div>
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
        </div>
        <div class="card-header">
          Another Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>98<span>Items</span></li>
            <li>298<span>Things</span></li>
            <li>923<span>Objects</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>

</body>
</html>
